<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form th:action="@{/author/delete}" th:object="${author}" method="post">

<input type="hidden" th:field="*{id}">
<table>
<tr><td th:text="${author.id}"/></tr>
<tr><td th:text="${author.name}"/></tr>
<tr><td th:text="${author.surname}"/></tr>
<tr><td th:text="${author.email}"/></tr>
<tr><td th:text="${author.pointsAmount}"/></tr>

</table>

<p>
	<input type="submit" value="delete"/>
</p>
</form>
</body>
</html>