<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<table> 
<tr>
	<th>Id</th>
	<th>Name</th>
	<th>Surname</th>
	<th>Email</th>
	<th>Points</th>
</tr>
<tr th:each="author:${authors}">
<td th:text="${author.id}"/>
<td th:text="${author.name}"/>
<td th:text="${author.surname}"/>
<td th:text="${author.email}"/>
<td th:text="${author.pointsAmount}"/>

<td><a th:href="@{/author/updateAuthor(id=${author.id})}" th:text="Update"></a></td>
<td><a th:href="@{/author/deleteAuthor(id=${author.id})}" th:text="Delete"></a></td>

</tr>
</table>
</body>
</html>